<% content_for :index_header_new_document do %>
  <div class="actions">
      <a class="add" href="/new">New Document</a>
  </div>
<% end %>

<ul id="lists" >
  <% @file_list.each do |file_name|%>
    <li>
      <h2><a href="/<%= file_name %>"><%= file_name %></a></h2>
      <p><a class="edit" href="/<%=file_name%>/edit">Edit</a></p>
      <form class="inline" method="post" action="/<%= file_name %>/delete">
        <p><button type="submit">Delete!</button></p>
      </form>
    </li>
  <% end %>
</ul>

<h2><em>Signed in as <%= session[:username] %></em></h2>
<form method="post" action="/users/signout">
  <button type="submit">Sign Out</button>
</form>
